In [ ]:
from urllib.request import urlopen
import json
import psycopg2

In [ ]:
HOST = "localhost"
DB = 'Qbase'
DB_USER = 'postgres'
DB_PASSWORD = '@Arifyacop99'
DB_POST = '5432'
try:
    conn = psycopg2.connect(
        host = HOST,
        database = DB,
        user = DB_USER,
        password = DB_PASSWORD,
        port = DB_POST
)
    print (f"You connect database "  + DB +" successfully")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS english (id varchar, sura varchar, aya varchar, translation varchar, footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from english")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS english_rwwad (id varchar, sura varchar, aya varchar, translation varchar, footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from english_rwwad")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS chinese (id varchar, sura varchar, aya varchar, translation varchar, footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from chinese")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS indonesian (id varchar, sura varchar, aya varchar, translation varchar, footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from indonesian")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS en_saheeh (id varchar, sura varchar, aya varchar, translation varchar, footnotes varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from en_saheeh")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS thai (index varchar, surah varchar, ayah varchar, text varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from thai")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS quran_surah (surah varchar, arabic varchar, latin varchar, english varchar, location varchar, sajda varchar,ayah int,types varchar);")
except psycopg2.Error as e:
    print("Error : Issue creating table")
    print(e)

In [ ]:
try: 
    cur.execute("select count(*) from quran_surah")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS alquran (index varchar, surah varchar, ayah varchar, text varchar);")
except psycopg2.Error as e:
    print("Error : Issue creating table")
    print(e)

In [ ]:
try: 
    cur.execute("select count(*) from alquran")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())